#PCC-choice-table{
  margin-left: auto;
  margin-right: auto;
  background-color: #3ea3dc;
  width: 100%;
  table-layout: fixed;
  height: 60px;
  border:none;
  padding: 0px;
  border-collapse: collapse;
}
#PCC-choice-table * {
  font-weight: 400;
  color: white;
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  border: none;
  border-collapse: collapse;
}
#PCC-choice-table td{
  height: 100%;
  position: relative;
  border-left: 1px solid white;
}
#PCC-choice-table tr{
  border-bottom: 1px solid white;
}
#PCC-choice-table td:first-child {
  border-left: none;
}
#PCC-choice-table select{
  -o-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding: 5px;
  padding-right: 30px;
  text-overflow: ellipsis;
  background: #3ea3dc url(./PCC-resource/down_arrowwhite.png) no-repeat right center;
  font-weight: 500;
}
#PCC-choice-table select option{
  background-color: #333;
  line-height: 22px;
}
#PCC-surprise-button{
  height: 84px;
  height: 100%;
  padding: 5px;
  padding-top: 32px;
  line-height: 16px;
  background-color: #3ea3dc;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  box-sizing: border-box;
  border: none;
  font-weight: 500;
}
#PCC-surprise-button:hover{
  background-color: #333;
  cursor: pointer;
}
.PCC-highlight-cell{
  box-sizing: border-box;
  height: 20px;
}
.PCC-highlight-cell div{
  visibility: hidden;
}
#PCC-kayak-logo{
  width: 45%;
  height: 90%;
  box-sizing: border-box;
  visibility: visible;
  position: absolute;
  right: 5%;
  top: 5%;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}
td:first-of-type{
  vertical-align: top;
}
#PCC-colour-indicator
{
  visibility: hidden;
  position: absolute;
  z-index: 10000;
  background-color: red;
  border: 1px solid #333;
}
#PCC-colour-indicator div{
    height: 22px;
    width: 22px;
    position: relative;
}